/* SPDX-License-Identifier: MIT */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.center {
    width: auto;
    height: 70vh;
}

.center .content {
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}