<!-- SPDX-License-Identifier: MIT -->
{{define "footer"}}
            <section>
                <small>
                    Made by 
                    <a href="https://github.com/itsksrof" class="contrast">Kevin Suñer</a> 
                    &#183;
                    Powered by
                    <a href="https://github.com/itsksrof/bloggo" class="contrast">Bloggo</a> 
                    &#183; 
                    Code licensed 
                    <a href="https://github.com/itsksrof/bloggo/blob/master/LICENSE" class="contrast">MIT</a>
                </small>
            </section>
        </main>
    </body>
</html>
{{end}}